body{
	background-color: $lightBlue;
}

.bg-white{
	background-color: white;
}

.bg-blue{
	background-color: $blue;
}

.bg-darkBlue{
	background-color: $darkBlue;
}

.bg-lightBlue{
	background-color: $lightBlue;
}

.bg-skyBlue{
	background-color: $skyBlue;
}

.bg-blue-gradient{
	background: linear-gradient(to right, $skyBlue, $blue);
}

.bg-lightgrey{
	background-color:$lightGrey;
}

.bg-lightergrey{
	background-color:$lighterGrey;
}

.bg-green{
	background-color:$green;
}

.bg-lightGreen{
	background-color:$lightGreen;
}

.bg-teal{
	background-color:$teal;
}

.bg-lightTeal{
	background-color:$lightTeal;
}

.border-blue{
	border:solid 2px $blue;
	margin: -1px;
}

.border-skyBlue{
	border:solid 2px $skyBlue;
	margin: -1px;
}

.border-grey{
	border:solid 2px $lighterGrey;
	margin: -1px;
}

.border-x-grey{
	border-left: solid 2px $lighterGrey;
	border-right: solid 2px $lighterGrey;
	margin: -1px;
}

.border-x-dark{
	border-left: solid 2px $black;
	border-right: solid 2px $black;
	margin: -1px;
}

.border-bottom-grey{
	border-bottom:solid 2px $lighterGrey;
	margin: -1px;
}

.border-right-grey{
	border-right:solid 2px $lighterGrey;
	margin: -1px;
}

.tiny-icon{
	align-items:center;
	display: flex;
	font-size: 25px;
	justify-content: center;
	height: 35px;
	padding:5px;
	width: 35px;
}

.radius-circle{
	border-radius:100%;
}

.inline-block{
	display: inline-block;
}

.overflow-scroll{
	overflow: scroll;
}

.mobile-only{
	display: none;
}

.border-round{
	border-radius:15px;
}

@include breakpoint(tabletSmall){
	.mobile-only{
		display: block;	
	}
}
