#mobile-nav{
	background-color: $darkBlue;
	color: white;
	display: none;
	position:fixed;
	top: 0px;
	width: 100%;
	z-index: 9999;

	@include breakpoint(tablet){
		display: block;
	}

	.title{
		color: white;
		font-size:25px;
		span{
			background-color:white;
			color: $darkBlue;
		}
	}
	.dashicons-menu{
		font-size: 40px;
		height: 40px;
		width: 40px;
	}

	&.active{
		.title{
			opacity: 0;
		}

		.dashicons-menu{
			&:before{
				display: none;
			}
			&:after{
				content: "\f335";
			}
		}

	}

}

#main-sidebar{
	background-color: $darkBlue;
	color:white;
	display: inline-block;
	font-weight: 400;
	min-width: 300px;
	max-width: 100vw;
	min-height: 100vh;
	position:relative;
	transition: all .5s;
	text-align: center;
	width: 300px;
	z-index: 9999;

	.sidebar-content{
		height: 100%;
		padding: 0em;
		position:fixed;
		width: 300px;

		.title{
			border-bottom:solid 1px rgba(255,255,255,.3);
			color: white;
			font-size: 25px;
			padding: 1em 0em;
			span{
				background-color:white;
				color: #333;
				font-family: inherit;
				padding:0em .25em;
				margin-left: -10px;
			}
		}

		.menu{
			list-style: none;
			margin-top: 4em;
			text-align: left;

			.current_page_item{
				background-color: $blue;
				position:relative;

				>a:before{
					background-color: $skyBlue;
					content: "";
					height: .15em;
					left: calc(25% - 2em);
					position: absolute;
					top: calc(50% - .1em);
					width: 1.25em;
				}

			}

			ul{
				list-style: none;
			}

			.sub-menu{
				padding:1em 0em;
			}

			a{
				color: white;
			}

			.menu-item-has-children{
				color: $blue;
				font-weight: 600;

				.sub-menu{
					display: none;
				}

				&.active{
					&>a{
						&:after{
							content: "\f343";
							display: inline;
							font-family: "dashicons";
							float: right;
							vertical-align: middle;
						}
					}
					.sub-menu{
						display: block;
					}
				}

				&>a{
					color: $skyBlue;
					&:after{
						content: "\f347";
						display: inline;
						font-family: "dashicons";
						right: 10%;
						position:absolute;
						vertical-align: middle;
					}
				}

			}

			.sub-menu{
				.menu-item{
					&:not(.menu-item-has-children){
						padding-left:2em;
						position:relative;
					}
				}
			}

			li{
				padding: 1em;
				padding-left: 25%;
			}

		}

		#logout-link{
			bottom:4em;
			display: block;
			font-weight: 600;
			position: absolute;
			text-align: center;
			width: 100%;
		}

	}

	@include breakpoint(tablet){
		overflow: hidden;
		min-width: 0px;
		width: 0px;

		&.active{
			position:fixed;
			width: 300px;
			z-index: 9999;
		}

		.sidebar-content{
			position:initial;
		}

	}

	#menu-supervisor-menu, #menu-executive-menu{
		.menu-item-has-children{
			padding-left: 0px;

			&>a{
				padding-left:20%;
			}

			.sub-menu{
				li{
					padding-left:30%;
				}
			}

		}
	}

}

