#page-container{
	display: flex;
	max-width: 100%;
	#page-content{
		flex-grow: 1;
		margin:4em;
		max-width: 70vw;
		@include breakpoint(desktopSmall){
			margin: 1em;
		}
		@include breakpoint(tabletSmall){
			margin: 0em;
			margin-top:55px;
			max-width: 100vw;
		}
	}
}

#searchform{
	#searchsubmit{
		display: none;
	}
}