#page-container{
	display: flex;
	#page-content{
		flex-grow: 1;
		margin:4em;
		@include breakpoint(tabletSmall){
			margin: 1em;
		}
		@include breakpoint(phone){
			margin: 0em;
			margin-top:55px;
		}
	}
}

#searchform{
	#searchsubmit{
		display: none;
	}
}