.font-fira-code{
	font-family: 'Fira Code', monospace;
}

.font-strong{
	font-weight: 600;
}

.text-light-grey{
	color: $lightGrey;
}

.text-light-blue{
	color: $lightBlue;
}

.text-sky-blue{
	color: $skyBlue;
}

.text-blue{
	color: $blue;
}

.text-dark-blue{
	color: $darkBlue;
}

.text-green{
	color: $green;
}

.text-light-green{
	color: $lightGreen;
}

.text-teal{
	color: $teal;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}

.text-white{
	color: #fff;
}