$lighterGrey: #e5e6e6;
$lightGrey: #A8B0BA;
$lightBlue: #E9F0F8;
$skyBlue: #40B1E5;
$blue: #15477E;
$darkBlue: #002A39;
$green: #6DBD68;
$yellow: #FED107;
$black: #333;
$lightGreen: rgba(#6DBD68, .4);

$teal: #7AC8BA;
$lightTeal: rgba(#7AC8BA,.4);