.assessment-page{ // global css that applies to all assessment pages

	table{
		tbody{
			tr{
				&:hover{
					box-shadow: 1px 10px 10px rgba(#333, .1);
					cursor: pointer;
				}
			}
		}
	}

}

#manager-assessment-page{

	@include breakpoint(phone){
		#classification-summary, #experience-summary, #assessment-data-comparison{
			h3{
				font-size: 25px;
				text-align: center;
			}

			.row.align-center.space-between{
				justify-content: space-around;
				margin: auto;
				max-width: 90vw;
				h3,.options{
					width: initial;
				}
			}

		}
	}

	.summary{

		.options{
			.option{
				color: $skyBlue;
				cursor: pointer;
				&.active{
					background-color:$skyBlue;
					color: white;
					fill: white;

					img{
						filter: brightness(0) invert(1);
					}

				}
			}
		}

		@include breakpoint(tablet){
			.tables, .charts{
				width: 100%;
			}

		}

		.charts{
			
		}

	}

	#classification-summary-modal{
		.modal-body{
			.col-7{
				width: 100%;
			}
		}
	}

	@include breakpoint(tablet){
		#assessment-data-comparison{
			.col-6{
				padding:1em;
				width: 100%;
				.card-header{
					padding:0em;
					.col-3{
						padding: 1em;
						width: initial;
					}
				}
			}
		}
	}

}

#worker-assessment-page{

	#completed-and-pending-assessments{

		.options h5[data-action]{
			cursor: pointer;
		}

		#pending-assessments-table{
			display: none;
		}
	}

}