.home{
	@include breakpoint(tabletSmall){
		#training-summary, #assessment-summary{
			width: 100%;

			.padding-6{
				padding:1em;
			}

		}
	}

	@include breakpoint(phone){
		#assessment-summary, #training-summary{
			h3{
				font-size: 25px;
				margin: auto;
				text-align: center;
			}

			.row.align-center.space-between{
				justify-content: center;
				h3,.options{
					width: initial;
				}
			}

		}
	}

}