.training-page{ // global styles that apply to all training pages

	table{
		tbody{
			tr{
				&:hover{
					box-shadow: 1px 10px 10px rgba(#333, .1);
					cursor: pointer;
				}
				@include breakpoint(tabletSmall){
					td{
						text-align: center;
					}
				}
			}
		}
	}

}

#executive-training-page{
	.slick-slider{
		position:relative;

		.slick-list{
			overflow: initial;
		}

		.slick-arrow{
			background-color: $lightGrey;
			color: white;
			padding:1em;
			&:hover{
				background-color: $skyBlue;
			}

			&.slick-disabled {
			    opacity: 0;
			    pointer-events:none;
			}

			&.slick-prev{
				right: 90%;
			}
			&.slick-next{
				left: 90%;
			}

		}
	}

	#training-summaries{
		position:relative;

		.training-summary{
			max-width: 30vw;
			margin:1em;
			width: 25%;

			@include breakpoint(desktopWide){
				max-width: 400px;
			}
			@include breakpoint(tabletSmall){
				max-width: 325px;
			}
			@include breakpoint(phone){
				max-width: 80vw;
			}

		}
	}

	@include breakpoint(desktopSmall){
		padding-left:1em;	
	}


	@include breakpoint(tablet){
		margin:auto;
		width: 95vw;
	}

	@include breakpoint(phone){
		margin: 0px auto;
		padding:0px;

		.card:first-of-type{
			text-align: center;
			.row{
				margin: 1em 0px;
				*:not(.btn-switch){
					text-align: center;
					width: 100%;
				}
				.btn-switch{
					margin:1em auto;
				}
			}
		}

		#training-summaries{
			padding-left:1em;

			.training-summary{
				max-width: 90vw;
				.padding-6{
					padding:0px;
				}

				table{
					td{
						text-align: center;
						button{
							margin: 0px;
							padding:0px;
							width: initial;
						}
					}
				}

			}
		}
		.slick-slider{
			.slick-arrow{
				&.slick-prev{
					right: 85%;
				}
				&.slick-next{
					left: 85%;
				}
			}
		}

	}

	@include breakpoint(phoneSmall){
		#training-summaries{
			padding-left:.5em;

			.training-summary{
				max-width: 90vw;
				.padding-6{
					padding:0px;
				}

				table{
					td{
						text-align: center;
						button{
							margin: 0px;
							padding:0px;
							width: initial;
						}
					}
				}

			}
		}
		.slick-slider{
			.slick-arrow{
				&.slick-prev{
					right: 85%;
				}
				&.slick-next{
					left: 85%;
				}
			}
		}
	}
}


#supervisor-training-page{

	.summary{

		.options{
			.option{
				color: $skyBlue;
				cursor: pointer;
				&.active{
					background-color:$skyBlue;
					color: white;
					fill: white;

					img{
						filter: brightness(0) invert(1);
					}

				}
			}
		}

		.charts{
			display: none;
			.essense-partners-chart{
				margin: 5em auto;
			}

		}

	}

	@include breakpoint(desktopWide){

		#training-data-comparison{
			.col-6{
				padding:1em;
				width: 100%;

				.card-header{
					padding:0em;
					.col-3{
						padding: 1em;
						width: initial;
					}
				}
			}

			@include breakpoint(tabletSmall){
				.padding-4{
					padding:0px;
				}
			}
		}

		#classification-summary-modal{
			.modal-body{
				padding: 1em;
			}
		}

		#experience-summary-modal{
			.modal-body{
				padding: 1em;

				.row:nth-of-type(3){
					.col-5{
						width: 100%;
					}
				}

			}
		}

	}


	@include breakpoint(tablet){
		#classification-summary, #experience-summary, #training-data-comparison{
			h3{
				font-size: 25px;
				text-align: center;
			}

			.row.align-center.space-between{
				justify-content: space-around;
				margin: 2em auto .5em;
				max-width: 90vw;
				h3{
					text-align: left;
				}
				.options{
					margin: 0px;
				}
			}

			.charts{
				.col-5{
					width: 100%;
					.essense-partners-chart{
						margin:1em auto;
					}
				}
			}

		}

		#classification-summary-modal, #experience-summary-modal{
			.col-3{
				border:none;
				width: 100%;
			}

			.col-5{
				width: 100%;
			}

			.padding-5{
				padding:1em;
			} 

			.modal-body{
				.dashicons{
					margin: 0px;
				}
			}

		}

	}

}

#worker-training-page{


	#assignments-and-pending-training{
		.options{
			h5{
				cursor: pointer;

				@include breakpoint(phone){
					&:nth-of-type(2){
						background-color: $lightGrey;
						height: 2px;
						margin: .25em 0em;
						overflow: hidden;
						width: 100%;
					}
				}

			}
		}
		.table-container{
			display: none;
			&:first-of-type{
				display: block;
			}
		}

		#assignments-and-pending-table{
			button{
				margin: 1em;
				padding:5px 15px;
				width: initial;
			}
		}

	}

	#no-data-available-modal{
		.padding-10{
			padding: 2em 0px;
		}
	}

	#completed-training-modal{
		.modal-options{
			.training-results{
				display: none;
			}
			#performance-trends{
				display: none;
			}
		}
	}


	@include breakpoint(desktopSmall){

		#performance-summary{
			.col-7{
				width: 100%;
			}
			.col-5{
				width: 100%;
			}
		}

	}

	@include breakpoint(desktopSmall){

		#completed-training-modal{
			.modal-body{
				padding: 1em;

				.row:nth-of-type(2){
					padding:0px;
					.col-3{
						width: 33%;
					}
				}

			}
		}

		#performance-trends{
			.row:nth-of-type(1){
				.col-2{
					border-right:none;
					width: 100%;

					.margin-y-3{
						display: inline-block;
						margin: 1em;
					}
				}
				.col-9{
					width: 100%;
				}
			}	
			.row:nth-of-type(2){
				.col-5{
					width: 100%;
				}
			}
		}

	}

	@include breakpoint(phone){
		#training-summary{
			.col-2{
				width: 100%;
			}
		}

		#completed-training-modal{
			#training-results{
				.row:first-of-type{
					div{
						margin:0px 1em;
					}
					.dashicons{
						margin: 0px;
					}
				}
				.row:nth-of-type(2){
					.col-3{
						border-left:none;
						border-right:none;
						width: 100%;
					}
				}	
			}
		}

	}

}