.training-page{ // global styles that apply to all training pages

	table{
		tbody{
			tr{
				&:hover{
					box-shadow: 1px 10px 10px rgba(#333, .1);
					cursor: pointer;
				}
				@include breakpoint(tabletSmall){
					td{
						text-align: center;
					}
				}
			}
		}
	}

}

#executive-training-page{
	.slick-slider{
		.slick-arrow{
			background-color: $lightGrey;
			color: white;
			padding:1em;

			&:hover{
				background-color: $skyBlue;
			}

		}
	}
}


#supervisor-training-page{

	.summary{

		.options{
			.option{
				color: $skyBlue;
				cursor: pointer;
				&.active{
					background-color:$skyBlue;
					color: white;
					fill: white;

					img{
						filter: brightness(0) invert(1);
					}

				}
			}
		}

		.charts{
			display: none;
			.essense-partners-chart{
				margin: 5em auto;
			}

		}

	}

	@include breakpoint(desktopWide){

		#training-data-comparison{
			.col-6{
				padding:1em;
				width: 100%;

				.card-header{
					padding:0em;
					.col-3{
						padding: 1em;
						width: initial;
					}
				}
			}

			@include breakpoint(tabletSmall){
				.padding-4{
					padding:0px;
				}
			}

		}

	}


	@include breakpoint(tablet){
		#classification-summary, #experience-summary, #training-data-comparison{
			h3{
				font-size: 25px;
				text-align: center;
			}

			.row.align-center.space-between{
				justify-content: space-around;
				margin: 2em auto .5em;
				max-width: 90vw;
				h3{
					text-align: left;
				}
				.options{
					margin: 0px;
				}
			}

			.charts{
				.col-5{
					width: 100%;
					.essense-partners-chart{
						margin:1em auto;
					}
				}
			}

		}

		#classification-summary-modal, #experience-summary-modal{
			.col-3{
				border:none;
				width: 100%;
			}

			.col-5{
				width: 100%;
			}

			.padding-5{
				padding:1em;
			} 

			.modal-body{
				.dashicons{
					margin: 0px;
				}
			}

		}

	}

}

#worker-training-page{

	#training-summary{
		.col-2{
			width: 100%;
		}
	}

	#assignments-and-pending-training{
		.options{
			h5{
				cursor: pointer;

				&:nth-of-type(2){
					background-color: $lightGrey;
					height: 2px;
					margin: .25em 0em;
					overflow: hidden;
					width: 100%;
				}

			}
		}
		.table-container{
			display: none;
			&:first-of-type{
				display: block;
			}
		}


	}

	#completed-training-modal{
		.modal-options{
			.training-results{
				display: none;
			}
			#performance-trends{
				display: none;
			}
		}
	}

}