button{
	border:none;
	padding:.5em 1.5em;
	.dashicons{
		font-size: 1em;
		height: 1em;
		margin:0em .25em;
		width: 1em;
		vertical-align: middle;
	}

}

.btn-round{
	border-radius:20px;
}

.btn-lightBlue{
	background-color: rgba($blue, .2);
	color: $blue;
}

.btn-lightGreen{
	background-color: rgba($green, .2);
	color: $green;
}

.btn-lightYellow{
	background-color: rgba($yellow, .2);
	color: $yellow;
}

.btn-blue{
	background-color: $blue;
	color: white;
}

.btn-switch {
	display: inline-block;
	height: 20px;
	margin:.5em 1em;
	position: relative;
	width: 40px;
	input {
		opacity: 0;
		width: 0;
		height: 0;
		&:checked{
			&+ .switch {
				background-color: #2196F3;
			}
			&+ .switch:before {
				-webkit-transform: translateX(100%);
				-ms-transform: translateX(100%);
				transform: translateX(100%);
			}
		}
		&:focus + .switch {
			box-shadow: 0 0 1px #2196F3;
		}

	}
	.switch {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;

		&.round {
			border-radius: 34px;
			&:before {
				border-radius: 50%;
			}
		}

		&:before{
			position: absolute;
			content: "";
			height: 90%;
			width: 45%;
			left: 2px;
			bottom: 1px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
		}
	}

}