.menu{
	list-style: none;
	padding:0px;

	ul{
		list-style: none;
	}

	.sub-menu{
		padding:1em 0em;
	}

	a{
		color: white;
	}

	.menu-item-has-children{
		color: $blue;
		font-weight: 600;
		height: 3em;
		overflow: hidden;

		&.active{
			height: initial;
			overflow: initial;
			&>a{
				&:after{
					content: "\f343";
					display: inline;
					font-family: "dashicons";
					float: right;
					vertical-align: middle;
				}
			}
		}

		&>a{
			color: $blue;
			&:after{
				content: "\f347";
				display: inline;
				font-family: "dashicons";
				float: right;
				vertical-align: middle;
			}
		}

	}

	.sub-menu{
		.menu-item{
			&:not(.menu-item-has-children){
				padding-left:2em;
				position:relative;
				&:before{
					background-color: $blue;
					content: "";
					height: .1em;
					left: 0em;
					position: absolute;
					top: calc(50% - .1em);
					width: 1.25em;
				}
			}
		}
	}

	li{
		padding: 1em;

	}

}