.modal-container{
	align-items:center;
	background-color: rgba(#000, .6);
	display: none;
	height: 100vh;
	justify-content: center;
	left: 0px;
	padding-left:300px;
	position:fixed;
	top: 0px;
	width: 100vw;
	z-index: 999999999;

	@include breakpoint(tablet){
		padding: 0px;
		table{
			min-width: 500px;
			overflow: scroll;
		}

	}

	.modal{
		background-color: $lightBlue;
		border-radius: 10px;
		display: none;
		max-width: 90%;
		overflow: hidden;
		&.large{
			width: 85%;
			@include breakpoint(phone){
				width: 95%;
			}
		}
		&.medium{
			width: 50%;
			@include breakpoint(phone){
				width: 95%;
			}
		}

		.modal-header{
			background-color:$darkBlue;
			color: white;
			padding: 1em;
			position:relative;

			@include breakpoint(phone){
				text-align: left;
				padding-right: 3em;
				h3{
					font-size: 20px;
				}
			}

			.modal-options{
				align-items:center;
				bottom: 35%;	
				display: flex;
				font-size: 12px;
				height: 30%;
				position:absolute;
				right: 1em;
				text-align: center;
				top: 35%;

				*{
					cursor: pointer;
					margin:.5em;
				}

				.tiny-icon{
					margin: auto;
				}
				.modal-exit{
					margin-left: 1.5em;
				}

				@include breakpoint(desktopSmall){
					justify-content: flex-start;
					position:initial;

					.modal-exit{
						position: absolute;
						top: 20%;
						right: 0px;
					}
				}

			}

		}

		.modal-body{
			max-height: 75vh;
			overflow: hidden;
			overflow-y: scroll;
			padding:4em;

			@include breakpoint(desktopSmall){
				padding: 1em;
			}

		}

	}

}