.modal-container{
	align-items:center;
	background-color: rgba(#000, .6);
	display: none;
	height: 100vh;
	justify-content: center;
	left: 0px;
	padding-left:300px;
	position:fixed;
	top: 0px;
	width: 100vw;
	z-index: 999999999;

	@include breakpoint(tablet){
		padding: 0px;

		table{
			min-width: 500px;
			overflow: scroll;
		}

	}

	.modal{
		background-color: $lightBlue;
		border-radius: 10px;
		display: none;
		max-width: 90%;
		overflow: hidden;
		&.large{
			width: 85%;
		}
		.modal-header{
			background-color:$darkBlue;
			color: white;
			padding: 1em;
			position:relative;
			h1,h2,h3,h4,h5,h6,p{
				color: white;
			}

			.modal-options{
				align-items:center;
				bottom: 35%;	
				display: flex;
				height: 30%;
				position:absolute;
				right: 1em;
				top: 35%;
				.modal-exit{
					cursor: pointer;
				}
			}

		}

		.modal-body{
			max-height: 75vh;
			overflow: hidden;
			overflow-y: scroll;
			padding:1em;
		}

	}

}