.progress-bar{
	display: flex;
	margin-bottom: 68px;
	position:relative;

	@include breakpoint(phone){
		margin-top: 1em;
		width: 100%;
	}

	.progress{
		position:relative;
	}

	.progress-tooltip{
		background-color:white;
		color: black;
		font-size: 12px;
		left: calc(100% - 52px);
	    position: absolute;
	    top: 100%;
	    width: 100px;

	    &:hover{
	    	z-index: 99;
	    }

	    &:before{
	    	color: $teal;
	    	content: "\f142";
	    	display: block;
	    	font-family: "dashicons";
	    	font-size: 18px;
	    }
	}

}