table{
	.show-more{
		background: linear-gradient(to bottom, rgba(white, 0.5), rgba(white, 1));
		border:none;
		color: $darkBlue;
		display:block;
		width:100%;
		position:absolute;
		bottom:0px;
		padding-bottom:20px;
		padding-top:60px;
		text-align: center;
		&:after{
			content: "\f347";
			display: inline;
			font-family: dashicons;
			vertical-align: middle;
		}
	}
}