@include breakpoint(phone){
	.table-container{
		overflow: scroll;
		&:before{
			color:$lightGrey;
			content: "Table is scrollable";
			display: block;
			padding:.5em;
			text-align: center;
			overflow: scroll;
		}

		table{
			width: 500px;
		}
	}
}

table{
	color: $darkBlue;
	position:relative;

	th{
		color: $lightGrey;
	}

	.show-more{
		background: linear-gradient(to bottom, rgba(white, 0.5), rgba(white, 1));
		bottom:0px;
		border:none;
		color: $darkBlue;
		display:block;
		position:absolute;
		padding-bottom:20px;
		padding-top:60px;
		text-align: center !important;
		width: 100%;
		&:after{
			content: "\f347";
			display: inline;
			font-family: dashicons;
			vertical-align: middle;
		}

		@include breakpoint(tabletSmall){
			padding-bottom:10px;
			padding-top:30px;
		}

	}
}

// Table Styling

table.left-col-bold{
	tbody{
		tr{
			td:first-of-type{
				font-weight: 600;
			}
		}
	}
}

table.header-dark-blue{
	thead{
		background-color:$darkBlue;
		tr{
			th{
				color: white;
			}
		}
	}
}

table.left-col-text-left{
	tr{
		td:first-of-type{
			text-align: left;
		}
	}
}

table.first-col-large{
	tr{
		th:first-of-type,td:first-of-type{
			&:not(.show-more){
				width: 50% ;
			}
		}
	}
}
